/*重置样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, a, span, em, i, strong, label, input, textarea, select {
  box-sizing: border-box; }

img {
  vertical-align: top;
  width: 100%; }

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }


body {
  color: #000;
  font-family: '宋体';
  font-size: 12px;
  background: #f7f7f7;
}
