@charset "UTF-8";
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.timer {
	width: 538px;
	height: 100px;
	font-family: '微软雅黑';
	background: linear-gradient(#0b6ec2, #6eabe2);
	margin: 0 auto;
}

.clock {
	float: left;
	position: relative;
	margin: 18px 24px 0 51px;
	width: 65px;
	height: 65px;
}

.clock>.point {
	position: absolute;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	background: #fff;
}

.clock>.second {
	position: absolute;
	width: 1px;
	height: 30px;
	left: 50%;
	top: 8px;
	background: #f00;
	z-index: 999;
	transform-origin: 50% 25px;
}

.clock>.minute {
	position: absolute;
	width: 3px;
	height: 28px;
	left: 50%;
	top: 9px;
	margin-left: -1px;
	background: #fff;
	z-index: 99;
	transform-origin: 50% 24px;
}

.clock>.hour {
	position: absolute;
	width: 5px;
	height: 20px;
	left: 50%;
	top: 17px;
	margin-left: -2px;
	background: #fff;
	z-index: 9;
	transform-origin: 50% 16px;
}

.clock>.small {
	position: absolute;
	width: 1px;
	height: 4px;
	background: #589cd6;
	left: 50%;
	top: 0;
	transform-origin: 50% 33px;
}

.clock>.big {
	position: absolute;
	width: 1px;
	height: 8px;
	background: #fff;
	left: 50%;
	top: 0;
	transform-origin: 50% 33px;
}

.timer_1 {
	float: left;
	width: 141px;
	height: 45px;
	color: #fff;
	font-size: 50px;
	margin-left: 0px;
	margin-top: 24px;
	margin-bottom: 20px;
}

.timer_2 {
	float: left;
	width: 36px;
	height: 24px;
	color: #fff;
	font-size: 24px;
	margin-left: 13px;
	margin-top: 49px;
	margin-bottom: 26px;
}

.timer1 {
	float: right;
	margin: 31px 61px 26px 38px;
}

.timer_3 {
	width: 58px;
	height: 19px;
	color: #fff;
	font-size: 18px;
	margin-bottom: 10px;
}

.timer_4 {
	width: 108px;
	height: 14px;
	color: #fff;
	font-size: 14px;
}