.header{
    width: 100%;
    height:600px;
    background: url(../images/header-bg.png) no-repeat center top;
}
.header-width{
    width: 1209px;
    margin: 0 auto;
}
.triangle{
    width: 174px;
    height: 77px;
    margin:  0 auto;
    padding: 285px 0 0 0;
} 
.triangle-endline{
    font-size: 18px;
    color: #f1301a;
    margin: 12px 12px 11px 18px;
}
.triangle-adder{
    font-size: 18px;
    color: #f1301a;
    margin: 0 12px 8px 18px;
}
.triangle-adder-number_1{
    color:#fff ;
    width: 15px;
    height: 20px;
    margin: 0 20px 0 12px;
    font-size: 24px;
}
.triangle-adder-number_2{
    color: #fff;
    width: 15px;
    height: 20px;
    margin: 0 13px 0 0;
    font-size: 24px;
}
.button{
    width: 800px;
    height: 90px;
    margin-top: 148px;
}
.button a:hover{
    cursor: pointer;
    background: #e43e3e url(../images/header_button.png) no-repeat 42px 26px;
}
.button_1{
    float: left;
    width: 400px;
    height: 90px;
    margin: 0;
    border-style: hidden;
    background: #e43e3e url(../images/header_button.png) no-repeat 42px 26px;
}
.button-p{
    margin: 26px 0 20px 103px;
    text-align: left;
    color: #fff;
}
.button_2{
    float: right;
    width: 400px;
    height: 90px;
    margin: 0;
    border-style: hidden;
    background: #82939e url(../images/header_button.png) no-repeat 42px 26px;
}
.button_2 p{
    color: #fff;
}
.containter{
    width: 100%;
    height: 1382px;
    margin: 0 auto;
}
.main{
    position: absolute;
    left: 50%;
    width: 517px;
    height: 1382px;
    margin: 0 auto;
    margin-left: -390px;
    margin-top: 80px;
}
.redcircle{
    float: left;
    width: 25px;
    height: 25px;
    margin:5px 5px 0 103px;
    background: url(../images/redcircle.jpg) no-repeat 0 10px;
}
.main-title{
    float: right;
    width: 240px;
    height: 29px;
    font-size: 30px;
    color: #fa6666;
    margin: 0 144px 0 0;
}
.main-line{
    position: absolute;
    left: 109px;
    top: 35px;
    height: 155px;
    width: 2px;
    border-left: #82939e 2px solid;
}
.main-yearcircle{
    position: absolute;
    top: 70px;
    left: 80px;
    width: 60px;
    height: 60px;
    background: #82939e url(../images/1.png) no-repeat 21px 39px;
    border-radius: 50%;
    text-align: center;
}
.main-year{
    width: 35px;
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    margin-top: 21px;
    margin-left: 12px;
}
.main-updata{
    width: 185px;
    height: 20px;
    margin: 190px 229px 0 103px;
}
.main-date{
    position: absolute;
    left: 29px;
    width: 45px;
    height: 14px;
    font-family: Arial;
    font-size: 18px;
    color: #82939e;
    margin: 194px 0 0 0;
}
.main-title_1{
    float: left;
    width: 141px;
    height: 20px;
    font-size: 20px;
    color: #fa6666;
    margin: 0 0 0 0;
}
.redcircle_1{
    float: left;
    width: 25px;
    height: 25px;
    margin:0 5px 5px 0;
    background: url(../images/redcircle.jpg) no-repeat 0 5px;
}
.main-content{
	float: left;
	width: 408px;
	border-left: 2px solid #82939e;
	margin-left: 109px;
}
.main-content-text{
	margin-top: 8px;
	margin-left: 39px;
	margin-bottom: 46px;
}
.main-content-text li{
	height:25px;
    line-height: 25px;
    color: #82939e;
}
.main-date_1{
    position: absolute;
    left: 29px;
    width: 45px;
    height: 14px;
    font-family: Arial;
    font-size: 18px;
    color: #82939e;
    margin: 368px 0 0 0;
}
.main-date_2{
    position: absolute;
    left: 29px;
    width: 45px;
    height: 14px;
    font-family: Arial;
    font-size: 18px;
    color: #82939e;
    margin: 392px 0 0 0;
}
.main-line_1{
    position: absolute;
    left: 109px;
    top: 1006px;
    height: 191px;
    width: 2px;
    border-left: #82939e 2px solid;
}
.main-yearcircle_1{
    position: absolute;
    top: 1006px;
    left: 80px;
    width: 60px;
    height: 60px;
    background: #82939e url(../images/1.png) no-repeat 21px 39px;
    border-radius: 50%;
    text-align: center;
}
.main-yearcircle_2{
    position: absolute;
    top: 1096px;
    left: 80px;
    width: 60px;
    height: 60px;
    background: #82939e url(../images/1.png) no-repeat 21px 39px;
    border-radius: 50%;
    text-align: center;
}
.main-topcircle{
    position: absolute;
    top: 1186px;
    left: 80px;
    width: 60px;
    height: 60px;
    background: #f95555;
    border-radius: 50%;
    text-align: center;
}
.main-text{
    width: 35px;
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    margin-top: 21px;
    margin-left: 12px;
}